<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <div class = "container">
            <h1 class="">Our Agencies</h1>

            <% if (agencies.length > 0) { %>

                    <div class="row">

                        <table class="table table-bordered table-dark border-success" style="border-radius: 10px; overflow: hidden;">
                            <thead>
                              <tr>
                                <th scope="col">id_agentie</th>
                                <th scope="col">Agentie</th>
                                <th scope="col">Email</th>
                              </tr>
                            </thead>
                            <% for (let agency of agencies) { %>
                                <tbody>
                                <tr>
                                    <th scope="row"><%= agency.id_agentie %></th>
                                    <td><%= agency.nume %></td>
                                    <td><%= agency.email %></td>
                                </tr>
                                </tbody>
                            <% } %>
                          </table>
                    </div>


                <% } else { %>

                    <h1>We don't have agencies at this moment!</h1>

                    <% } %>

                
                    <% if (types.length > 0) { %>


                            <div class="row">

                                <table class="table table-bordered table-dark border-success" style="border-radius: 10px; overflow: hidden;">
                                    <thead>
                                      <tr>
                                        <th scope="col">id_tip</th>
                                        <th scope="col">Denumire</th>
                                        <th scope="col">Caracteristici</th>
                                      </tr>
                                    </thead>
                                    <% for (let type of types) { %>
                                        <tbody>
                                        <tr>
                                            <th scope="row"><%= type.id_tip %></th>
                                            <td><%= type.denumire %></td>
                                            <td><%= type.caracteristici %></td>
                                        </tr>
                                        </tbody>
                                    <% } %>
                                  </table>
        
                            </div>

        
                        <% } else { %>
        
                            <h1>We don't have types at this moment!</h1>
        
                            <% } %>

                            <% if (spaces.length > 0) { %>

                                    <div class="row">

                                        <table class="table table-bordered table-dark border-success" style="border-radius: 10px; overflow: hidden;">
                                            <thead>
                                              <tr>
                                                <th scope="col">id_spatiu</th>
                                                <th scope="col">Adresa</th>
                                                <th scope="col">Zona</th>
                                                <th scope="col">Suprafata</th>
                                                <th scope="col">id_tip</th>
                                              </tr>
                                            </thead>
                                            <% for (let space of spaces) { %>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><%= space.id_spatiu %></th>
                                                    <td><%= space.adresa %></td>
                                                    <td><%= space.zona %></td>
                                                    <td><%= space.suprafata %></td>
                                                    <td><%= space.id_tip %></td>
                                                </tr>
                                                </tbody>
                                            <% } %>
                                          </table>
                
                                    </div>

                
                                <% } else { %>
                
                                    <h1>We don't have spaces at this moment!</h1>
                
                                    <% } %>

                            <% if (offers.length > 0) { %>

                                    <div class="row">
                
                                        <table class="table table-bordered table-dark border-success" style="border-radius: 10px; overflow: hidden;">
                                            <thead>
                                              <tr>
                                                <th scope="col">id_oferta</th>
                                                <th scope="col">id_agentie</th>
                                                <th scope="col">id_spatiu</th>
                                                <th scope="col">Vanzare</th>
                                                <th scope="col">Pret</th>
                                                <th scope="col">Moneda</th>
                                              </tr>
                                            </thead>
                                            <% for (let offer of offers) { %>
                                                <tbody>
                                                <tr>
                                                    <th scope="row"><%= offer.id %></th>
                                                    <td><%= offer.id_agentie %></td>
                                                    <td><%= offer.id_spatiu %></td>
                                                    <td><%= offer.vanzare %></td>
                                                    <td><%= offer.pret %></td>
                                                    <td><%= offer.moneda %></td>
                                                </tr>
                                                </tbody>
                                            <% } %>
                                          </table>
                        
                                    </div>

                        
                                <% } else { %>
                
                                    <h1>We don't have offers at this moment!</h1>
                        
                                    <% } %>

                                    <% if (ag3.length > 0) { %>

                                        <div class="row">
                    
                                            <table class="table table-bordered table-dark border-success" style="border-radius: 10px; overflow: hidden;">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Agentie</th>
                                                    <th scope="col">Email</th>
                                                  </tr>
                                                </thead>
                                                <% for (let ag of ag3) { %>
                                                    <tbody>
                                                    <tr>
                                                        <td><%= ag.nume %></td>
                                                        <td><%= ag.email %></td>
                                                    </tr>
                                                    </tbody>
                                                <% } %>
                                              </table>
                                        </div>
                    
                    
                                    <% } else { %>
                    
                                        <h1>We don't have agencies at this moment!</h1>
                    
                                        <% } %>
                                </div>

                                   
            <%- include('../includes/end.ejs') %>


